body {
    overflow: hidden;
    text-shadow: 0px 0px 1px rgb(0, 0, 0), 0px 0px 2px rgb(0, 0, 0), 0px 0px 3px rgb(0, 0, 0), 0px 0px 4px #000, 0px 0px 5px rgb(0, 0, 0);
}

#content {
    display: table;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 3;
}

#defender {
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    opacity: 0;
}


.image-row {
    display: table-row;
}

.image-row .image-cell {
    display: table-cell;
    height: 100%;
    text-align: center;
}

.image-row .image-cell img {
    height: 100%;
}


.text-row {
    display: table-row;
    z-index: 5;
    position: relative;
}

.text-cell {
    display: table-cell;
    text-align: center;
}

.text-header {
    font-weight: 700;
}

.text-message {
    font-weight: 400;
    font-size: 24px;
}